@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid;
  border-bottom: 0;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0rem;
}

nav {
  display: flex;
  gap: 1rem;
}

main{
  display: flex;
  flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    border: 0.1rem solid;
    border-top: 0;
    padding-top: 4rem;
    padding-bottom: 7rem;
    margin: 1rem;
    margin-bottom: 0.1rem;
    margin-top: 0rem;
}

section {
    display: flex;
    flex:1;
    margin-top: 0.1rem;
    justify-content: space-evenly;
    border: 0.1rem solid;
    width: 33%;
    height: 30rem;

}

footer{
  display: flex;
  justify-content: center;
  padding:1rem ;
  padding-top: 7rem;
  padding-bottom: 13rem;
  margin: 1rem;
  margin-top: 0;
  border: 0.1rem solid;
  border-top: 0;
}

.top-sections{
  display: flex;
}

.projects{
  display: flex;
  margin-left: 1rem;
  justify-content: center;

}

.education {
  display: flex;
  margin-right: 1rem;
}

.reviews {
  display: flex;
  border: 0.1rem solid;
  border-top: 0;
  border-bottom: 0;
  margin: 1rem;
  margin-bottom: 0;
  margin-top: 0;  
}

.opensource-work {
  width: 100%;
}

.work-experience {
  width: 100%;
}

.unite {
  display: flex;
  flex-direction: column;
}

.r1, .r2, .r3 {
  display: flex;
  border:0.1rem solid;
  border-radius: 90px;
  align-items: center;
  height: 5rem;
  width: 40rem;
  margin: 1rem;
  padding: 1rem;
}

.reviews-title {
  display: flex;
  margin: 1rem;
  margin-bottom: 0;
  border: 0.1rem solid;
  border-bottom: 0;
  padding: 2rem;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  padding-right: 5rem;
}

li{
  display: flex;
  justify-content: center;
  border: 0.1rem solid;
  margin: 0.1rem;
  height: 2rem;
  align-items: center;
}

.projects-title {
  display: flex;
  height: 1px;
  margin-bottom: 1px;
}

h2 {
  text-align: center;
}