@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid;
  border-bottom: 0;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0rem;
}

nav {
  display: flex;
  gap: 1rem;
}

main{
  display: flex;
  flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    border: 0.1rem solid;
    border-top: 0;
    padding-top: 4rem;
    padding-bottom: 7rem;
    margin: 1rem;
    margin-bottom: 0.1rem;
    margin-top: 0rem;
}

section {
    display: flex;
    flex:1;
    margin-top: 0.1rem;
    justify-content: space-evenly;
    border: 0.1rem solid;
    width: 33%;
    height: 30rem;

}

.top-sections{
  display: flex;
}

.projects{
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
}

.education {
  display: flex;
  margin-right: 1rem;
}

.reviews {
  display: flex;
  border: 0.1rem solid;
  border-top: 0;
  margin: 1rem;
  margin-top: 0;
}

.opensource-work {
  width: 100%;
}

.work-experience {
  width: 100%;
}

.unite {
  display: flex;
  flex-direction: column;
}

.r1, .r2, .r3 {
  display: flex;
  border:0.1rem solid;
  border-radius: 90px;
  height: 10rem;
  margin: 1rem;
  align-items: center;
  padding: 1rem;
  margin-top: 0;
}

.reviews-title {
  display: flex;
  margin: 1rem;
  margin-bottom: 0;
  border: 0.1rem solid;
  border-bottom: 0;
  padding: 2rem;
}